.container{
    display: flex;
    flex-direction: row;
    margin: 30px 60px;
    background-color: rgb(177, 72, 72);
}

.infoContainer{
    margin: 10px;
    text-align: center;
}

.infoContainer:first-child(p){
    text-decoration: underline;
}

.imageContainer{
    padding: 12px 15px;
}

